<% provide(:title, "Help") %>
<h1>help</h1>
<p>
  get help on the ruby on rails Tutorial at the
  <a href="http://www.railstutorial.org/#help">Rails Tutorial help section</a>
  toget help on this sample app, see the
  <a href="http://www.railstutorial.org/book">Ruby on rails Tutorial</a>
</p>
